<launch>

<arg name="namespace" default="t265" />
<arg name="camera_name" default="t265" />
<arg name="first_camera_name" default="fisheye1" />
<arg name="second_camera_name" default="fisheye2" />
<arg name="scale" default="1.0" />
<arg name="process_every_nth_frame" default="1" />
<arg name="stereo_params_camchain" default="$(find image_undistort)/cfg/t265_stereo_input_config.yaml"/>

<group ns="$(arg namespace)">
  <node name="stereo_undistort" pkg="image_undistort" type="stereo_undistort_node" output="screen">
    <param name="input_camera_info_from_ros_params" value = "true"/>
    <param name="first_camera_namespace" value="$(arg first_camera_name)"/>
    <param name="second_camera_namespace" value="$(arg second_camera_name)"/>
    <param name="scale" value="$(arg scale)"/>
    <param name="process_every_nth_frame" value="$(arg process_every_nth_frame)"/>
    <param name="T_invert" value="false"/>
    <param name="output_camera_info_source" value="match_input"/>
    
    <rosparam file="$(arg stereo_params_camchain)"/>

    <remap from="raw/first/image" to="/$(arg camera_name)/$(arg first_camera_name)/image_raw"/>
    <remap from="raw/second/image" to="/$(arg camera_name)/$(arg second_camera_name)/image_raw"/>
  </node>
</group>

</launch>